/**
 * Design System Tokens
 *
 * Imports all token files and provides a minimal CSS reset.
 */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("./color.css");
@import url("./spacing.css");
@import url("./typography.css");

/* Minimal CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px, making calculations easier */
  text-size-adjust: 100%;
  tab-size: 4;
}

body {
  font-family: var(--dxy-type-ff-body);
  font-size: var(--dxy-type-body-1-size);
  line-height: var(--dxy-type-body-1-lh);
  color: var(--dxy-color-foreground);

  background: var(--dxy-color-background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
